
<div class="row">
  <div class="col">
    <h4>
      All configured folders
    </h4>
  </div>
  <div class="col-auto">
    <a class="btn btn-info" [routerLink]="['/add-folder']">
      Add folder
    </a>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let folder of folders">
        <td>{{folder.folderName}}</td>
        <td>{{folder.path}}</td>
        <td>
          <span *ngIf="folder.polling">Polling</span>
          <span *ngIf="!folder.polling">Receiving</span>
        </td>
        <td>
          <ul *ngIf="folder.polling">
            <li>
              <span *ngIf="folder.pollingType === 1">Move to folder: <b>{{folder.path}}\{{folder.moveToFolder}}</b> after process</span>
              <span *ngIf="folder.pollingType === 0">Delete file after process</span>
            </li>
            <li>
              <span>Post to: <b>{{folder.apiUrl}}</b></span>
            </li>
          </ul>
          <span *ngIf="!folder.delaySeconds">-</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <h4>All available endpoints</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Folder name</th>
        <th>Endpoint</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let folder of apiFolders">
        <td>{{folder.folderName}}</td>
        <td>api/folder/{{folder.folderName}}/file/add</td>
      </tr>
    </tbody>
  </table>
</div>
