<div class="row">

  <div class="col-sm" *ngIf="currentfolder">

    <div class="row">
      <div class="col">
        <h4>
          Edit folder configuration {{currentfoldername}}
        </h4>
      </div>
    </div>
    <form>
      <div class="row alert alert-danger" *ngIf="submitError">
        <div class="col">
          {{submitError}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Name:</label>
          <input name="folderName"
                 placeholder="name"
                 type="text"
                 [(ngModel)]="newfolder.folderName"
                 value="{{currentfolder.folderName}}"
                 class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Folder path:</label>
          <input name="folderPath"
                 placeholder="folder path"
                 type="text"
                 [(ngModel)]="newfolder.path"
                 (ngModelChange)="getSubfolders()"
                 class="form-control">
          <div class="card w-100 bg-light" *ngIf="subfolders || subFolderError">
            <div class="text-danger" *ngIf="subFolderError">
              {{subFolderError}}
            </div>
            <table class="card-body table table-hover" *ngIf="!subFolderError">
              <thead>
                <tr>
                  <th colspan="2">
                    Folders inside current folder:
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subfolder of subfolders" [class]="subfolder == newfolder.path ? 'info' : ''">
                  <td>
                    {{subfolder}}
                  </td>
                  <td><button class="btn btn-info" (click)="setPath(subfolder)">Select</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="polling" name="polling" [(ngModel)]="newfolder.polling">
            <label class="custom-control-label" for="polling">Make folder polling<br /><small>check folder every x time for new files</small></label>
          </div>
        </div>
      </div>
      <hr />
      <div *ngIf="newfolder.polling">
        <div class="row">
          <div class="col">
            <label>API to post to after processing a file:</label>
            <input name="apiUrl"
                   placeholder="api url to post"
                   type="text"
                   [(ngModel)]="newfolder.apiUrl"
                   class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>What to do with the file after processing?</label>
            <select name="PollingType" [(ngModel)]="newfolder.pollingType" class="form-control" placeholder="Pick a value">
              <option value="DeleteAfterFind">Delete file</option>
              <option value="MoveAfterFind" *ngIf="!newfolder.isRecursive">Move file to folder</option>
            </select>
          </div>
        </div>
        <div *ngIf="newfolder.pollingType && newfolder.pollingType === 'MoveAfterFind'">
          <div class="row">
            <div class="col">
              <label>Foldername to move file to after processing:</label>
              <input name="MoveToFolder"
                     placeholder="foldername to move file to after processing"
                     type="text"
                     [(ngModel)]="newfolder.moveToFolder"
                     value="{{currentfolder.moveToFolder}}"
                     class="form-control text-left">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <small>This folder is relative to the "Folder path" you're new path to your folder will be:</small><br />
                {{newfolder.path}}\{{newfolder.moveToFolder}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label></label>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="canOverwriteFiles" name="canOverwriteFiles" [(ngModel)]="newfolder.canOverwriteFiles">
                <label class="custom-control-label" for="canOverwriteFiles">Overwrite existing files<br /><small>Overwrite existing files in the destination folder when they already exist</small></label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label></label>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="recursive" name="recursive" [(ngModel)]="newfolder.isRecursive">
              <label class="custom-control-label" for="recursive">Recursive polling<br /><small>look for files in first layer of folders in the folder</small></label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br />
          <button class="btn btn-success" (click)="updateFolder(currentfoldername)">Update folder</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5>Configuration added to ini file:</h5>
          <p>
            <code *ngIf="!newfolder.polling">
              [{{newfolder.folderName}}]<br />
              Path = {{newfolder.path}}<br />
              IsPolling = False
            </code>
            <code *ngIf="newfolder.polling">
              [{{newfolder.folderName}}]<br />
              Path = {{newfolder.path}}<br />
              IsPolling = True<br />
              PollingType = {{newfolder.pollingType}}<br />
              DestinationFolder = {{newfolder.moveToFolder}}<br />
              ApiUrl = {{newfolder.apiUrl}}<br />
              Recursive = {{newfolder.isRecursive}}
              CanOverwriteFiles = {{newfolder.canOverwriteFiles}}
            </code>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
